<div class="page-inner-container text-center">
  <div *ngIf="!statistics">
    <p>Loading...</p>
    <i class="fas fa-spinner loading"></i>
  </div>
  <div *ngIf="statistics">
    <img class="img" width="100" height="100" src="{{'https://firebasestorage.googleapis.com/v0/b/photos-gallery-a06e9.appspot.com/o/LoL%2FEmblem_'+statistics[0].tier+'.png?alt=media&token=3c712695-3a12-4bbf-9567-8a7a10552610'}}">
    <div class="statistics">
      <p><b>Summoner Name:</b> {{statistics[0].summonerName}}</p>
      <p><b>Level:</b> {{statistics[0].summonerLevel}}</p>
      <p><b>Region:</b> {{statistics[0].server}}</p>
      <p><b>Rank:</b> {{statistics[0].tier + ' ' + statistics[0].rank}}</p>
      <p><b>League Points:</b> {{statistics[0].leaguePoints}}</p>
      <p><b>Rankeds played:</b> {{statistics[0].wins +statistics[0].losses}}</p>
      <p><b>Wins:</b> {{statistics[0].wins}}</p>
      <p><b>Losses:</b> {{statistics[0].losses}}</p>
    </div>
  </div>
</div>

