.statistics {
  display: grid;
  grid-template-columns: auto auto;
  z-index: -1;
  margin-top: -200px;
}

p {
 display: grid;
 grid-template-rows: auto auto;
 font-size: 17px;
}

img {
  width: 180px;
  height: 180px;
  margin-top: 50px;
  z-index: 0;
}
