<div class="page-inner-container text-center">
    <div *ngIf="!statistics">
        <p>Loading...</p>
        <i class="fas fa-spinner loading"></i>
    </div>
    <div *ngIf="statistics">
        <p>Platform: {{statistics.data.platformInfo.platformSlug}}</p>
        <!-- <p>Matches played: {{statistics.data.segments[0].stats.matchesPlayed.displayValue}}</p> -->
        <p>Rank: {{statistics.data.segments[0].stats.rankScore.metadata.rankName}}</p>
        <p>Rank Score: {{statistics.data.segments[0].stats.rankScore.displayValue}}</p>
        <p>Rank Position: #{{statistics.data.segments[0].stats.rankScore.rank}}</p>

        <p>Level: {{statistics.data.segments[0].stats.level.displayValue}}</p>
        <p>Kills: {{statistics.data.segments[0].stats.kills.displayValue}}</p>
        <!-- <p>Kills Per Match: {{statistics.data.segments[0].stats.killsPerMatch.displayValue}}</p> -->
    </div>
</div>