select {
    width: 295px;
}

input.btn {
    box-shadow: none !important;
}

textarea {
    resize: none;
    width: 600px;
    height: 200px;
}

.form {
    width: 700px;
    margin: auto;
    padding: 50px;
}

.resize {
    width: 295px;
}

.link-padding {
    padding-top: 16px;
    padding-bottom: 54px;
}

button.btn.save {
    background-color: blueviolet;
    border: none;
}

a, a:hover, a:visited {
  color: inherit;
}
