select {
  width: 295px;
}

input.btn {
  box-shadow: none !important;
}

.profile-tab {
  padding-top: 19px;
  padding-bottom: 19px;
  color: white;
  font-size: 19px;
}

textarea {
  resize: none;
  width: 600px;
  height: 200px;
}

.form {
  width: 700px;
  margin: auto;
  padding: 50px;
}

.resize {
  width: 295px;
}

.link-padding {
  padding-top: 15px;
  padding-bottom: 16px;
}

button.btn.save {
  background-color: blueviolet;
  border: none;
}

label.btn.bt-sm.focus.active {
  z-index: 0 !important;
}

