<div class="navbar">
  <div class="grid-container">
    <div *ngIf="user" class="grid-item" [routerLink]="['/', user.username]">
      <a class="text-white">PROFILE</a>
    </div>
    <div *ngIf="!user" class="grid-item" [routerLink]="['/login']">
      <a class="text-white">LOGIN</a>
    </div>
    <div class="grid-item-center">
      <div class=logo>
        <a class="navbar-logo" [routerLink]="['/']"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/photos-gallery-a06e9.appspot.com/o/app%2FLOGO.png?alt=media&token=ea33e743-c2b0-49ef-a902-751f89c08b5d"/></a>
      </div>
    </div>
    <div *ngIf="user" class="grid-item">
      <a class="text-white">CHAT</a>
    </div>
    <div *ngIf="!user" class="grid-item" [routerLink]="['/register']">
      <a class="text-white">REGISTER</a>
    </div>
  </div>
  <div class="text-white" *ngIf="user" class="grid-vertical">
    <div>
      <a (click)="logout()" class="a-vertical">
        <i class="fas fa-sign-out-alt fa-2x"></i>
      </a>
    </div>
  </div>
</div>
