.logo {
    width: 45px;
    height: 45px;
}

.home-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

a.navbar-brand.title {
    font-size: 30px;
}

a.nav-link {
    font-size: 20px;
}


