.grid-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  background-color: #23272A;
  padding-top: 150px;
  padding-bottom: 10px;
}

.grid-vertical {
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  bottom: 20px;
  z-index: 1;
  left: 20px;
}

a {
  color: rgba(255,255,255,0.6);
}

a:hover{
  color: white;
  text-decoration: none;
}

.grid-item {
  background-color: #2C2F33;
  font-size: 30px;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  -webkit-user-select: none;
  cursor: pointer;
}

.grid-item:focus {
  outline: 0;
}

.grid-item-center {
  background-color: #23272A;
  font-size: 30px;
  text-align: center;
  color: white;
}

.grid-item:hover {
  background-color: #23272A;
}

.navbar {
  padding-left: 0;
}

.navbar-logo {
  color: white;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.navbar-brand {
  margin-top: 2px;
  margin-bottom: 30px;
}

.a-vertical {
  background-color: transparent;
  text-align: center;
}

.fas.fa-sign-out-alt {
  cursor: pointer;
}
