.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  align-items: center;
  margin-top: 20px;
}

.grid-vertical {
  position: fixed;
  display: grid;
  grid-template-columns: auto;
  margin-top: 32%;
  margin-left: 1%;
  margin-right: 95%;
  margin-bottom: 2%;
  grid-row-gap: 15px;
  background-color: #23272A;
}

.icon {
  width: 35px;
  height: 35px;
}

a {
  color: rgba(255,255,255,0.6);
}

a:hover{
  color: white;
  text-decoration: none;
}

.grid-item {
  background-color: #2C2F33;
  border-left: 5px solid #23272A;
  font-size: 30px;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.grid-item-center {
  background-color: #23272A;
  font-size: 30px;
  text-align: center;
  color: white;
}

.grid-item:hover {
  background-color: #23272A;
}

.navbar-logo {
  color: white;
  justify-content: center;
}

.navbar-brand {
  margin-top: 2px;
  margin-bottom: 30px;
}

.a-vertical {
  background-color: #23272A;
  text-align: center;
}
