<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a *ngIf="user" class="navbar-brand title" href="/home" [routerLink]="'/home'">P4T4P</a>
    <a *ngIf="!user" class="navbar-brand title">P4T4P</a>
    <form class="form-inline ml-3 mr-auto">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <button class="btn btn-primary search-button input-group-append">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="user" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home" [routerLink]="'/home'">Home</a>
        </li>
    </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="navbarDropdown">
            <a class="dropdown-item p-2" href="{{'/' + user.username}}" [routerLink]="['/', user.username]">My Profile</a>
            <div class="dropdown-divider m-0"></div>
            <button class="dropdown-item bg-danger text-white p-2" (click)="logout()">Log Out</button>
          </div>
        </li>
      </ul>
    </div>
    <button *ngIf="user" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>