<div class="mx-auto">
  <div class="card-body">
    <div *ngIf="userProfile.email" class="card user-email">
      <h5>Email:</h5>
      <span>{{userProfile.email}}</span>
    </div>
    <div class="card user-country">
      <h5>Country:</h5>
      <span>{{userProfile.country}}</span>
    </div>
    <div class="card user-bornDate">
      <h5>Born date:</h5>
      <span>{{userProfile.bornDate}}</span>
    </div>
    <div class="card user-linkList">
      <h5>Social links</h5>
      <span *ngFor="let link of userProfile.linkList">{{link.link}}</span>
    </div>
    <div class="card user-biography">
      <h5>Biography</h5>
      <span>{{userProfile.biography}}</span>
    </div>
  </div>
</div>
<h5>Games List</h5>
<!--<app-profile-statistics [games]="userProfile.gameList"></app-profile-statistics>-->
<nav class="nav nav-pills nav-fill">
  <a class="nav-link btn btn-outline-dark" [class.active]="isActive('btn1')" (click)="setActive('btn1')" [routerLink]="'./posts'" skipLocationChange>Posts</a>
  <a class="nav-link btn btn-outline-dark" [class.active]="isActive('btn2')" (click)="setActive('btn2')" [routerLink]="'./statistics'" skipLocationChange>Stats</a>
  <a class="nav-link btn btn-outline-dark" [class.active]="isActive('btn3')" (click)="setActive('btn3')" [routerLink]="'./ranking'" skipLocationChange>Ranking</a>
  <a class="btn btn-dark ml-auto icon"><i class="material-icons">settings</i></a>
</nav>

<router-outlet></router-outlet>
