.overall-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  padding-left: 20px;
}

.grid-container {
    display: grid;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    border: 3px solid  #851DE0;
    border-radius: 20px;
    padding: 10px 0 15px 0;
 }

 h5 {
  color: #851DE0;
 }

 .games-container {
   display: inline-grid;
   grid-template-columns: auto auto auto;
 }

 img {
   width: 100px;
   height: 100px;
   margin-right: 20px;
   margin-left: 20px;
 }

 .contact-links {
   width: 150px;
   margin-left: 20%;
   text-align: center;
   justify-content: center;
   border: 3px solid  #851DE0;
   border-radius: 10px;
   padding: 10px;
   color: #851DE0;
 }

 .side-data {
   text-align: center;
   justify-content: center;
 }


 .links {
  display: inline-grid;
  grid-template-columns: auto auto auto;
 }

 .biography {
  width: 450px;
 }

.nav-pills > a {
    box-shadow: none !important;
    height: 30%;
}

.nav-pills > a.icon {
    padding-bottom: 0;
}

.nav-pills > a > i {
    font-size: 30px;
}

