<form [formGroup]="newProfile" (ngSubmit)="onSubmit()" class="form">
 <!-- <div class="form-row">
    <div class="form-group col">
      <select
        class="custom-select custom-select-lg mb-3"
        [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
        (change)="onChangeRole($event.target.value)"
      >
        <option selected disabled>Your job?</option>
        <option *ngFor="let rol of roles">{{ rol }}</option>
      </select>
      <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
        <div *ngIf="f.role.errors.required">Debes elegir uno</div>
      </div>
    </div>
  </div> -->

  <div class="form-row">
    <div class="form-group col">
      <select
        class="custom-select custom-select mb-3"
        [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
        (change)="onChangeCountry($event.target.value)"
      >
        <!--<option selected disabled>Your country?</option>-->
        <option *ngFor="let countri of countries">{{ countri }}</option>
      </select>
      <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
        <div *ngIf="f.country.errors.required">Debes elegir uno</div>
      </div>
    </div>
  </div>

  <div class="form-group col">
    <!--<label>Date of Birth</label>-->
    <input
      type="date"
      formControlName="bornDate"
      class="form-control date"
      [ngClass]="{ 'is-invalid': submitted && f.bornDate.errors }"
    />
    <div *ngIf="submitted && f.bornDate.errors" class="invalid-feedback">
      <div *ngIf="f.bornDate.errors.required">Date of Birth is required</div>
      <div *ngIf="f.bornDate.errors.pattern">
        Date of Birth must be a valid date in the format YYYY-MM-DD
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <div formArrayName="linkList">
        <div
          *ngFor="
            let linkName of newProfile['controls'].linkList['controls'];
            let i = index
          "
        >
          <!--<div class="mt-2">
            <span>Link {{ i + 1 }}</span>
          </div>-->
          <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
          <div [formGroupName]="i" class="links">
            <input type="text" [placeholder]="'Enter link '++i" formControlName="link" [value]="userProfile.linkList" />
            <span *ngIf="newProfile['controls'].linkList['controls'].length > 1"
              ><input
                name="link"
                *ngIf="i !== 0"
                class="btn btn-danger btn-sm ml-2"
                type="button"
                (click)="removeLink(i)"
                value="Remove"
              />
            </span>
          </div>
        </div>
        <input
          class="btn btn-success btn-sm mt-2"
          type="button"
          (click)="addLink()"
          value="Add Link"
        />
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col">
      <div formArrayName="gameList">
        <div
          *ngFor="
            let gameName of newProfile['controls'].gameList['controls'];
            let i = index
          "
        >
          <!--<div class="mt-2">
            <span>Game {{ i + 1 }}</span>
          </div>-->
          <div [formGroupName]="i" class="games">
            <input type="text" placeholder="Enter game name" formControlName="gameName" />
            <input type="text" placeholder="Enter game user" formControlName="gameUser" />
            <span *ngIf="newProfile['controls'].gameList['controls'].length > 1"
              ><input
                *ngIf="i !== 0"
                class="btn btn-danger btn-sm ml-2"
                type="button"
                (click)="removeGame(i)"
                value="Remove"
            />
            </span>
          </div>
        </div>
        <input
          class="btn btn-success btn-sm mt-2"
          type="button"
          (click)="addGame()"
          value="Add Game"
        />
      </div>
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col">
      <textarea placeholder="biography" formControlName="biography"></textarea>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary mr-2" (click)="emitSave()">Save</button>
    <button type="reset" class="btn btn-secondary" (click)="onReset()">
      Clear
    </button>
  </div>
</form>
