img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px;
}
img.default-profile-photo {
  cursor: pointer;
  margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
img.profile-photo {
  cursor: pointer;
  margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.loading-photo {
  cursor: pointer;
  margin: 20px;
  margin-left: 32px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  background-color: black;
}
.loading-text {
  position: absolute;
  top: 50%;
  left: 36%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-photo input {
  display: none;
}

div.fixed-col {
  margin-left: auto;
  min-width: 200px;
}

div.fixed-col.left {
  text-align: center;
}

.profile-main {
  min-height: 380px;
}

.profile-grid {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 20px;
  border-radius: 30px;
}

.overall-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 226px 1fr;
  padding-left: 20px;
  row-gap: 20px;
}

.grid-container {
  display: grid;
  row-gap: 15px;
  justify-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0 15px 0;
}

.default-container {
  min-height: 177px;
  position: relative;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0 15px 0;
}

.default-container > i {
  position: absolute;
}

.default-container > i.me {
  top: 50%;
  right: 30%;
}

.default-container > i.not-me {
  top: 50%;
  right: 24%;
}

.games-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
}

.contact-links-container {
  justify-self: center;
}

.contact-links {
  min-height: 177px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.side-data {
  text-align: center;
  justify-content: center;
}

.links {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.biography {
  width: 450px;
}

.empty-field {
  color: rgba(255, 255, 255, 0.6);
}

.nav-tabs > a {
  margin-top: 30px;
  box-shadow: none !important;
  font-size: 2vh;
}

.nav-tabs > a.btn {
  height: 60px;
  padding-top: 17px;
  font-size: 18px;
  border: none;
  border-radius: 0;
}

.nav-tabs > a.btn.btn-conf:hover {
  background-color: #851DE0;
}

.nav-tabs > a.btn.btn-conf.active {
  background-color:#851DE0;
}

.nav-tabs > a > i {
  font-size: 30px;
}

.gamer-outer-border {
  border: 3px solid var(--gamer);
}

.team-outer-border {
  border: 3px solid var(--team);
}

.sponsor-outer-border {
  border: 3px solid var(--sponsor);
}

.gamer-inner-borders {
  border: 2px solid var(--gamer);
}

.team-inner-borders {
  border: 2px solid var(--team);
}

.sponsor-inner-borders {
  border: 2px solid var(--sponsor);
}

.gamer-title-color {
  color: var(--gamer);
}

.team-title-color {
  color: var(--team);
}

.sponsor-title-color {
  color: var(--sponsor);
}