.profile-main {
  min-height: 380px;
}
img.default-profile-photo {
  cursor: pointer;
  margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}
img.profile-photo {
  cursor: pointer;
  margin: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.loading-photo {
  cursor: pointer;
  margin: 20px;
  margin-left: 32px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  background-color: black;
}
.loading-text {
  position: absolute;
  top: 50%;
  left: 36%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.profile-photo input {
  display: none;
}

div.container {
  min-height: 380px;
  padding: 10px 10px;
  border: 3px solid #851DE0;
  border-radius: 30px;
}

div.fixed-col {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

div.fixed-col.left {
  text-align: center;
}

.nav-tabs > a {
  margin-top: 30px;
  box-shadow: none !important;
  font-size: 2vh;
}

.nav-tabs > a.btn {
  height: 60px;
  padding-top: 17px;
  font-size: 18px;
  border: none;
  border-radius: 0;
}

.nav-tabs > a.btn.btn-conf:hover {
  background-color: #851DE0;
}

.nav-tabs > a.btn.btn-conf.active {
  background-color:#851DE0;
}

.nav-tabs > a > i {
  font-size: 30px;
}

.loader {
  height: 586px;
}

h5 {
  color: #851DE0;
}

.dark-mode {
  background-color: aliceblue;
}
