<div class="page-inner-container">
    <div *ngIf="!posts" class="default-text text-center">
        <h4>Loading...</h4>
        <i class="fas fa-spinner loading"></i>
    </div>
    <div *ngIf="posts && posts.length > 0">
        <div class="profile-posts__feed-get" *ngFor="let post of posts; let idx = index">
            <app-post-get
            [post]="post"
            [modalIndex]="idx"
            (deletePostEmitter)="deletePost($event)">
            </app-post-get>
        </div>
    </div>
    <div *ngIf="posts && posts.length === 0" class="default-text">
        <h4>No posts published yet</h4>
    </div>
</div>
