select {
  width: 295px;
}

button.btn.save {
  background-color: blueviolet;
  border: none;
  color: white;
  margin-left: 30%;
}

span {
  display: flow-root;
  margin-left: 15px;
}

.teams-container {
  border:2px solid#FFD300;

}

.team-photo {
  margin-left: 25px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.delete {
  margin-left: 35px;
}

