<!-- main app container -->
<div class="card mx-auto text-center login-card">
  <h5 class="card-header">
    <button class="btn btn-info mr-2 float-left" (click)="backClicked()">
      <i class="fas fa-chevron-circle-left"></i></button
    >Login
  </h5>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <p>If you are not registered click in the button below</p>
          <button type="button" class="btn btn-info" [routerLink]="'/register'">
            Register
          </button>
        </div>
      </div>
      <div class="form-row mt-4">
        <div class="form-group col">
          <label for="username">User or Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="User"
              [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
            />
            <div
              *ngIf="submitted && form.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="form.username.errors.required">
                User Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col">
          <label for="password">Password</label>
          <div class="input-group">
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              formControlName="password"
              class="form-control"
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
            />
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>
              </span>
            </div>
            <div
              *ngIf="submitted && form.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="form.password.errors.required">Password is required</div>
              <div *ngIf="form.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Login</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">
          Cancel
        </button>
      </div>
     <!-- <div class="text-center mt-4">
        <p>
          If you forget your password click the button below
        </p>
        <button type="button" class="btn btn-warning" [routerLink]="'/reset'">
          Reset Password</button>
      </div>-->
    </form>
  </div>
</div>
