.login-body {
  margin-top: 8%;
  width: 340px;
  margin-bottom: 1%;
}

input.form-control {
  width: 350px;
  height: 50px;
}

input.form-control.is-invalid  {
  width: 350px;
}

div.alternative {
  margin-top: 1%;
}

button.big-button {
  width: 350px;
  height: 50px;
}
