.login-page {
  margin-top: 200px;
}

.login-title {
  margin-top: 175px;
  width: 9%;
  margin-bottom: 40px;
}

.login-message {
  width: 29%;
  margin-bottom: 40px;
}

.login-body {
  width: 340px;
  margin-bottom: 8%;
}

.card-border {
  width: 400px;
  border: 3px solid #851DE0;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  left: 36%;
}

input.form-control {
  width: 350px;
  height: 50px;
}

input.form-control.is-invalid  {
  width: 350px;
}

div.alternative {
  margin-top: 1%;
}

button.big-button {
  background-color: #851DE0;
  width: 350px;
  height: 50px;
}

button.big-button:active, button.big-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
}

button.big-button:active {
  background-color: indigo !important;
}
