<!-- main app container -->
<div class="register-page">
  <div class="mx-auto register-message">
    <h4 class="text-white">Welcome to GameSpoT. Find, connect, stand out</h4>
    <h4 class="text-white">in the eSports world.</h4>
  </div>
  <div class="mx-auto register-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row justify-content-center">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="Username"
              [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
            />
            <div
              *ngIf="submitted && form.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="form.username.errors.required">Username is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Name"
                [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
              />
              <div
                *ngIf="submitted && form.name.errors"
                class="invalid-feedback"
              >
                <div *ngIf="form.name.errors.required">Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                formControlName="email"
                placeholder="Email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
              />
              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <div *ngIf="form.email.errors.required">Email is required</div>
                <div *ngIf="form.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="form-row justify-content-center">
        <div class="form-group mr-3">
          <select
            class="custom-select custom-select-lg"
            [ngClass]="{ 'is-invalid': submitted && form.role.errors }"
            (change)="onChangeRole($event.target.value)"
          >
            <option class="select-selected" selected disabled>Profession</option>
            <option class="select-options" *ngFor="let rol of roles">{{ rol }}</option>
          </select>
          <div *ngIf="submitted && form.role.errors" class="invalid-feedback">
            <div *ngIf="form.role.errors.required">Profession is required</div>
          </div>
        </div>
        <div class="form-group ml-3">
          <select
            class="inline custom-select custom-select-lg"
            [ngClass]="{ 'is-invalid': submitted && form.country.errors }"
            (change)="onChangeCountry($event.target.value)"
          >
            <option selected disabled>Country</option>
            <option class="select-options" *ngFor="let country of countries">{{ country }}</option>
          </select>
          <div *ngIf="submitted && form.country.errors" class="invalid-feedback">
            <div *ngIf="form.country.errors.required">Country is required</div>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="form-group">
          <div class="input-group">
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              formControlName="password"
              class="form-control"
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
            />
            <div
              *ngIf="submitted && form.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="form.password.errors.required">Password is required</div>
              <div *ngIf="form.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <div class="form-group">
          <div class="input-group">
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
              [ngClass]="{
                'is-invalid': submitted && form.confirmPassword.errors
              }"
            />
            <div
              *ngIf="submitted && form.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="form.confirmPassword.errors.required">
                Password Confirmation is required
              </div>
              <div *ngIf="form.confirmPassword.errors.passwordMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row justify-content-center">
        <button class="btn btn-dark big-button">Register</button>
      </div>
    </form>
  </div>
</div>
