* {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.home-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.home-main {
  z-index: 0;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.feed-post__comp {
  position: fixed;
  margin-top: 30px;
  margin-left: 100px;
  width: 550px;
  height: 150px;
}

.feed-get__comp {
  overflow-y: scroll;
  width: 600px;
  margin: 30px auto;
}
.feed-get__comp, .feed-get__comp * {
  display: block;
  height: auto;
  overflow: hidden;
}
