* {
  background-color: #23272A;
  color: rgba(255, 255, 255, 0.6);
}

.home-main {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
}

.home-main__feed-get {
  margin: 70px 20px 70px 20px;
}

.home-main__feed-post {
  margin-top: 30px;
  margin-left: 20px;
}

.feed-post__comp {
  margin-right: 10%;
  width: 100%;
  height: 100px;
}

.feed-get__comp {
  overflow-y: scroll;
  width: 100%;
  margin-top: 30px;
}

.feed-get__comp, .feed-get__comp * {
  display: block;
  height: auto;
  overflow: hidden;
}
