<div *ngIf="isLoggedIn()" class="home-main__post-create">
  <div class="post-create__comp">
    <app-post-create (createPostEmitter)="savePost($event)"></app-post-create>
  </div>
</div>
<div *ngIf="!isLoggedIn()" class="home-main__post-create"></div>
<div class="home-main__post-get">
  <div class="home-main__post-get__filter">
    <span>
      <select
        class="inline custom-select custom-select-xs"
        [(ngModel)]="countrySelected"
        (change)="filterPosts()"
      >
        <option selected>All countries</option>
        <option class="select-options" *ngFor="let country of countries">{{ country }}</option>
      </select>
    </span>
    <span>
      <select
        class="inline custom-select custom-select-xs"
        [(ngModel)]="roleSelected"
        (change)="filterPosts()"
      >
        <option selected>All roles</option>
        <option class="select-options" *ngFor="let role of roles">{{ role }}</option>
      </select>
    </span>
    <span>
      <div class="input-group">
        <input class="form-control" type="search" (keyup)="search()" [(ngModel)]="searched" placeholder="Search..." aria-label="Search">
        <div class="input-group-prepend">
          <button class="btn btn-primary search-button input-group-append" (click)="search()">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="search-error" *ngIf="errorSearch">
    <span>Sorry, we can't find who are you looking for</span>
  </div>
  <div class="post-get__comp" *ngFor="let post of posts; let idx = index">
    <app-post-get
      [post]="post"
      [modalIndex]="idx"
      (deletePostEmitter)="deletePost($event)">
    </app-post-get>
  </div>
</div>

