<div *ngIf="sponsorsOnPlayer && sponsorsOnPlayer.length > 0" class="page-inner-container d-flex justify-content-center mt-3 mb-3">
  <div class="sponsors-container">

    <div *ngFor="let sponsor of sponsorsOnPlayer;let i = index" class="mt-3 mb-3 mr-3">
      <a
        *ngIf="user.gamer.sponsors[i].owner.photoUrl"
        [routerLink]="['/', user.gamer.sponsors[i].owner.username]"
        ><img
          class="sponsor-photo"
          [src]="user.gamer.sponsors[i].owner.photoUrl"
          [alt]="user.gamer.sponsors[i].name | prettyJson"
      /></a>
      <a
        *ngIf="!user.gamer.sponsors[i].owner.photoUrl"
        [routerLink]="['/', user.gamer.sponsors[i].owner.username]"
        ><img
          class="sponsor-photo"
          src="https://firebasestorage.googleapis.com/v0/b/photos-gallery-a06e9.appspot.com/o/profilephotos%2Fimage-profile.png?alt=media&token=5c38edcd-ab6d-45a6-9784-dd1e542ecde6"
          [alt]="user.gamer.sponsors[i].name | prettyJson"
      /></a>
      <a
        [routerLink]="['/', user.gamer.sponsors[i].owner.username]"
        ><span>{{ user.gamer.sponsors[i].name | prettyJson }}</span></a>

    </div>
  </div>
</div>

<div *ngIf="sponsorsOnTeam && sponsorsOnTeam.length > 0" class="page-inner-container d-flex justify-content-center mt-3 mb-3">
  <div class="sponsors-container">

    <div *ngFor="let sponsor of sponsorsOnTeam;let i = index" class="mt-3 mb-3 mr-3">
      <a
        *ngIf="user.team.sponsors[i].owner.photoUrl"
        [routerLink]="['/', user.team.sponsors[i].owner.username]"
        ><img
          class="sponsor-photo"
          [src]="user.team.sponsors[i].owner.photoUrl"
          [alt]="user.team.sponsors[i].name | prettyJson"
      /></a>
      <a
        *ngIf="!user.team.sponsors[i].owner.photoUrl"
        [routerLink]="['/', user.team.sponsors[i].owner.username]"
        ><img
          class="sponsor-photo"
          src="https://firebasestorage.googleapis.com/v0/b/photos-gallery-a06e9.appspot.com/o/profilephotos%2Fimage-profile.png?alt=media&token=5c38edcd-ab6d-45a6-9784-dd1e542ecde6"
          [alt]="user.team.sponsors[i].name | prettyJson"
      /></a>
      <a
      [routerLink]="['/', user.team.sponsors[i].owner.username]"
      ><span>{{ user.team.sponsors[i].name | prettyJson }}</span></a>

    </div>
  </div>
</div>
<div *ngIf="!sponsorsOnPlayer || sponsorsOnPlayer.length === 0 && !sponsorsOnTeam || sponsorsOnTeam.length === 0" class="page-inner-container default-text">
  <h4>No sponsorized yet</h4>
</div>

