.feed {
  display: grid;
  background-color:  #23272A;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}

.feed-header{
  display: grid;
  grid-template-columns: 90px 4fr 4fr;
  color: rgba(255, 255, 255, 1);
  margin-top: 2px;
}

p {
  margin: 0;
}

.name {
  font-size: 24px;
}

.role {
  padding-left: 7px;
  font-size: 18px;
}

.username {
  font-size: 17px;
}

.feed-header__p {
  margin-top: 2px;
}

.feed-header__created {
  margin-top: 7px;
}

.feed-header__photo, .feed-header__p, .feed-header__created {
  margin-top: 10px;
}

.feed-header__photo {
  padding: 0 10px;
}

.feed-header__created span {
  float: right;
}

.feed-content {
  display: grid;
  grid-template-columns: 15px 5fr 1fr;
}

.feed-content__p {
  font-size: 17px;
  background-color: #23272A;
  color: rgba(255, 255, 255, 1);
  padding: 15px 2px 20px 76px;
  width: 95%;
}

.photoprofile {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
  outline: none !important;
}
