<div class="nav-separator">
    <div *ngIf="!tagPosts" class="default-text text-center">
        <h4>Loading...</h4>
        <i class="fas fa-spinner loading"></i>
    </div>
    <div *ngIf="tagPosts && tagPosts.length > 0">
        <div class="tagname">
            <h1>#{{tagnameParam}}</h1>
        </div>
        <div class="post-get__comp" *ngFor="let post of tagPosts; let idx = index">
            <app-post-get
            [post]="post"
            [modalIndex]="idx"
            (deletePostEmitter)="deletePost($event)">
            </app-post-get>
        </div>
    </div>
</div>
